---
---
<div class="item">
  <div class="container">
    <div class="date">{{ entry.month }} {{ entry.year }}</div>
    <div class="content">
      {% if entry.url %}
        <a href="{{ entry.url }}" class="title-link">{{ entry.title }}</a>
      {% else %}
        <p class="title">{{ entry.title }}</p>
      {% endif %}
      <p class="author">{{ entry.author | join: ' and ' }}</p>
      <div class="details">
        <p class="journal">{{ entry.booktitle }}</p>
      </div>
      
      <!-- Links section -->
      <div class="links">
        {% if entry.html %}
          {% if entry.html contains '://' %}
            <a href="{{ entry.html }}" class="btn" target="_blank" rel="noreferrer">HTML</a>
          {% else %}
            <a href="{{ entry.html | prepend: '/assets/html/' | relative_url }}" class="btn" target="_blank" rel="noreferrer">HTML</a>
          {% endif %}
        {% endif %}
        
        {% if entry.code %}
          <a href="{{ entry.code }}" class="btn" target="_blank" rel="noreferrer">Code</a>
        {% endif %}
        
        {% if entry.presentation %}
          <a href="{% if entry.presentation contains '://' %}{{ entry.presentation }}{% else %}{{ entry.presentation | prepend: '/assets/pdf/' | relative_url }}{% endif %}" class="btn" target="_blank" rel="noreferrer">Presentation</a>
        {% endif %}
        
        {% if entry.video %}
          <a href="{{ entry.video }}" class="btn" target="_blank" rel="noreferrer">Video</a>
        {% endif %}
        
        {% if entry.poster %}
          <a href="{% if entry.poster contains '://' %}{{ entry.poster }}{% else %}{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}{% endif %}" class="btn" target="_blank" rel="noreferrer">Poster</a>
        {% endif %}
      </div>
    </div>
  </div>
  <hr class="separator">
</div>