---
---
<a href="{{ entry.url | default:'#' }}" {% if entry.url %}target="_blank" rel="noreferrer"{% endif %}>
    <div class="container">
        <img src="/assets/img/publications/{% if entry.image %}{{ entry.image }}{% else %}default.png{% endif %}" alt="{{ entry.title }}">
        <p class="date">
            {%- if entry.month and entry.year -%}
                {{ entry.month | capitalize }} {{ entry.year }}
            {%- elsif entry.year -%}
                {{ entry.year }}
            {%- endif -%}
        </p>
        <h3 class="title">{{ entry.title }}</h3>
        <div class="author-container">
            <p class="authors">{{ entry.author | join: ', ' }}</p>
        </div>
    </div>
</a>